@charset "utf-8";

#introLeft, #introRight {
    width: 48%;
    float: left;
}

#introRight  {
    padding-left: 20px;
    margin-bottom: 20px;
}

#introRight img {
    width: 100%;
}

#introRight .attribute {
    text-align: right;
    font-style: italic;
    font-size: 0.7em;
    padding-right: 10px;
}



/* for every section header */
#supplyOrder .subtitle {
    font-size: 1.25em; /* 20px */
    margin: 40px 0px 10px 0px;
    text-align: center;
}

#supplyOrder table {
    width: 95%;
    text-align: center;
    border-collapse: collapse;
    margin: 0px auto;
}

#supplyOrder th {
    background-color: #fffacd; /* #BDB76B; */
    padding: 8px 5px;
    font-size: 1.125em; /* 18px */
}

#supplyOrder table th:first-child {
    -moz-border-top-left-radius: 18px;
    -webkit-border-top-left-radius: 18px;
    border-top-left-radius: 18px;
    width: 50px;
}

#supplyOrder table th:nth-child(3) {
    width: 100px;
}

#supplyOrder table th:last-child {
    -moz-border-top-right-radius: 18px;
    -webkit-border-top-right-radius: 18px;
    border-top-right-radius: 18px;
    width: 60px;
}

#supplyOrder td {
    background-color: #fffaf0 /*#FFFFE0 possible background:  #e0ffff*/;
    border: 1px solid #e6e6fa /*#BDB76B*/;
    border-bottom: 2px solid  #e6e6fa /*#BDB76B*/;
    padding: 5px;
    font-size: 1em; /* 16px */
    font-weight: bold;
}

#supplyOrder table td:nth-child(2) {
    text-align: left;
    padding-left: 10px;
}

#supplyOrder table input {
    width: 40px;
}

#supplyOrder .sectionDesc {
    text-align: center;
    font-style: italic;
    margin-top: -5px;
    margin-bottom: 10px;
}

/* item description */
#supplyOrder .description {
    margin-left: 20px;
    font-style: italic;
    font-size: 85%;
    font-weight: normal;
}

#supplyOrder .subItem div {
    padding-left: 28px;
}

#supplyOrder tr input {
    padding-left: 1px;
}

#supplyOrder hr {
    width: 740px;
    position: relative;
    left: -50px;
}

#supplyOrder span.dropdownNotice {
    text-decoration: underline;
    color: blue;
}

#supplyOrder #pickupPoint {
    margin: 10px 0px;
}

#supplyOrder #pickupPoint .option {
    display: block;
    margin-left: 40px;
}

#supplyOrder .summary {
    text-align: center;
    margin: 25px 0px;
}

/*
.mid_col .beesSoldOut {
    width: 75%;
    font-weight: bold;
    margin: 0px auto;
    text-align: center;
}*/


