@charset "utf-8";


#introLeft, #introRight {
    width: 48%;
    float: left;
}

#introLeft {
    padding-top: 50px;
}

#introRight {
    padding-left: 10px;
    margin-bottom: 20px;
}

#introRight img {
    width: 100%;
}

#introRight .attribute {
    text-align: right;
    font-style: italic;
    font-size: 0.7em;
    padding-right: 10px;
}




#breedFAQ {
    width: 75%;
    margin: 10px auto 0px auto;
    padding: 5px 0px;

    text-align: center;
    font-size: 1.1em;
    color: blue;
    text-decoration: underline;
    background-color: rgb(210, 210, 210);
    border-radius: 15px;
}

#breedWriteup {
    background-color: rgb(210, 210, 210);
    padding: 3px 8px;
    border-radius: 8px;
    font-size: 0.9em;
}

#breedWriteup p {
    color: black;
}

#breedWriteup .intro {
    margin: 10px;
    text-indent: 10px;
}

#breedWriteup .breedDesc {
    border: 1px gray dotted;
    padding: 12px;
    margin: 5px 0px;
    border-radius: 10px;
}

#breedWriteup .breedDesc .breedIntro {
    text-align: center;
}

#breedWriteup .breedDesc p {
    margin: 5px 0px;
}

#breedWriteup ul, #breedWriteup ol {
    margin: 5px 0px;
}



.mid_col .subtitle {
    font-size: 70%;
    margin-left: 20px;
}

.mid_col #spacer {
    height: 15px;
}



input {
    text-align: center;
}



/* nearly identical style to the supplies page table */
table.order, table.pickup, table#queenDesc {
    width: 85%;
    text-align: center;
    border-collapse: collapse;
    margin: 10px auto;
}

table.order th, table.pickup th {
    background-color: #fffacd;
    padding: 8px 5px;
    font-size: 1.125em;
}

table.order th:first-child, table.pickup th:first-child {
    -moz-border-top-left-radius: 18px;
    -webkit-border-top-left-radius: 18px;
    border-top-left-radius: 18px;
}

table.order th:first-child {
    width: 70%;
}

table.order th:last-child, table.pickup th:last-child {
    -moz-border-top-right-radius: 18px;
    -webkit-border-top-right-radius: 18px;
    border-top-right-radius: 18px;
}

table.order th:last-child {
    width: 60px;
}

table.order td, table.pickup td {
    background-color: #fffaf0;
    border: 1px solid #e6e6fa;
    border-bottom: 2px solid #e6e6fa;
    padding: 5px;
    font-size: 1em;
}

table.order input {
    width: 40px;
}




table#queenDesc {
    text-align: left;
    margin-top: 50px;

}

.sectionTitle {
    text-align: center;
    color: #ac913b;
    font-size: 1.5em;
    margin-left: 0px;
    padding-bottom: 10px;
}

table#queenDesc img {
    width: 225px;
}

table#queenDesc p {
    padding-left: 10px;
    text-indent: 10px;
    margin: 0px;
}




.pickupTitle {
    margin-top: 50px;
}

table.pickup {
}

table.pickup .point {
    display: inline-block;
    float: left;
    width: 100%;
    padding: 3px 0px;
}

table.pickup th {
    width: 33%;
}

table.pickup td {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table.pickup input, table.pickup label {
    float: left;
}

table.pickup input {
    padding: 10px 0px;
}




#transCharge {
    width: 80%;
    margin: 0px auto;
    height: 50px;
}


.notes textarea {
    margin-top: 10px;
    width: 90%;
    height: 100px;
    resize: none;
    padding: 10px;
    font-family: "Times New Roman", cursive;
    font-size: 1.125em; /* 18px */
}


#pickupWarning {
    text-indent: 15px;
    width: 95%;
    margin: 0px auto;
    padding-bottom: 20px;
}


.summary table {
    width: 50%;
    margin: 0px auto;
    font-size: 1em; /* 16px */
}



#footerPic {
    width: 85%;
    margin: 0px auto;
    padding-top: 30px;
}

#footerPic img {
    width: 100%;
}

#footerPic .attribute {
    text-align: right;
    font-style: italic;
    font-size: 0.8em;
    padding-right: 10px;
}
