@charset "utf-8";


#introLeft, #introRight {
    width: 48%;
    float: left;
}

#introLeft {
    padding-top: 50px;
}

#introRight {
    padding-left: 10px;
    margin-bottom: 20px;
}

#introRight img {
    width: 100%;
}

#introRight .attribute {
    text-align: right;
    font-style: italic;
    font-size: 0.7em;
    padding-right: 10px;
}



#breedFAQ {
    width: 75%;
    margin: 10px auto 0px auto;
    padding: 5px 0px;

    text-align: center;
    font-size: 1.1em;
    color: blue;
    text-decoration: underline;
    background-color: rgb(210, 210, 210);
    border-radius: 15px;
}

#breedWriteup {
    background-color: rgb(210, 210, 210);
    padding: 3px 8px;
    border-radius: 8px;
    font-size: 0.9em;
}

#breedWriteup p {
    color: black;
}

#breedWriteup .intro {
    margin: 10px;
    text-indent: 10px;
}

#breedWriteup .breedDesc {
    border: 1px gray dotted;
    padding: 12px;
    margin: 5px 0px;
    border-radius: 10px;
}

#breedWriteup .breedDesc .breedIntro {
    text-align: center;
}

#breedWriteup .breedDesc p {
    margin: 5px 0px;
}

#breedWriteup ul, #breedWriteup ol {
    margin: 5px 0px;
}



.mid_col .subtitle {
    font-size: 70%;
    margin-left: 20px;
}

.mid_col #spacer {
    height: 15px;
}

.breed span, .queens span, .pickup td {
    font-size: 0.95em;
}

.breed {
    height: 140px;
}

.queens {
    height: 170px;
}

.mid_col .title {
    font-weight: bold;
    font-size: 1.125em; /* 18px */
}

.desc {
    padding: 10px 0px;
}

.sub {
    margin-left: 30px;
    display: block;
}

.breed input, .queens input {
    width: 50px;
}

.breed .preference {
    display: block;
    height: 30px;
}

.breed .preference .images {
    width: 120px;
    float: left;
    margin-top: 3px;
}

.breed .text {
    float: left;
}

.queens {
    margin-bottom: 20px;
}

.queens .images img {
    width: 160px;
}

.queens .sub {
    margin-left: 10px;
}
/*
.queens .text {
    float: right;
}
*/
.queens .preference {
    padding: 0px 0px 3px 25px;
}

.pickup table {
    margin-top: 8px;
    width: 100%;
}

.pickup table td {
    padding-top: 3px;
}

.notes textarea {
    margin-top: 10px;
    width: 90%;
    height: 100px;
    resize: none;
    padding: 10px;
    font-family: "Times New Roman", cursive;
    font-size: 1.125em; /* 18px */
}

.summary table {
    width: 50%;
    margin: 0px auto;
    font-size: 1em; /* 16px */
}

input {
    text-align: center;
}



#footerPic {
    width: 85%;
    margin: 0px auto;
    padding-top: 30px;
}

#footerPic img {
    width: 100%;
}

#footerPic .attribute {
    text-align: right;
    font-style: italic;
    font-size: 0.8em;
    padding-right: 10px;
}
