@charset "utf-8";
/* CSS Document */

#cartWrapper {
    width: 75%;
}

#cartTable {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 1em; /* 16px */
}

#cartTable td, #cartTable th {
    background-color: #FFFFE0;
    padding: 5px;
}

#cartTable td {
    border: 1px solid #BDB76B;
}

#cartTable th:first-child {
    -moz-border-top-left-radius: 30px;
    -webkit-border-top-left-radius: 30px;
    border-top-left-radius: 30px;
}


#cartTable th:last-child {
    -moz-border-top-right-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    border-top-right-radius: 30px;
}

.mid_col .total {
    width: 96%;
    text-align: right;
    font-weight: bold;
}
